.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.colCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transitionIn {
    transition-property: background-color, border-color, color, fill, stroke,
        opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: ease-in;
    transition-duration: 300ms;
}
