.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.colCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
